<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Crime Reporting & Verification System</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='logo/logo.ico') }}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <style>
        main {
            background-image: url('/static/background/background_image.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 95vh;
            width: 100%;
        }

        .card-body {
            background: rgb(94, 222, 248);
            padding: 20px;
        }

        .loginButton:disabled {
            background-color: grey;
            border-color: grey;
            cursor: not-allowed;
        }
    </style>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand d-flex align-items-center" href="#">
                        <img src="{{ url_for('static', filename='logo/logo.png') }}" alt="Logo" width="80" height="80">
                        <div class="ms-2">
                            <h5 class="mb-0 fs-2">Crime Reporting & Verification System</h5>
                        </div>
                    </a>
                    <div class="ms-auto d-flex align-items-center">
                        <a class="btn btn-primary me-3" href="home">HOME</a>
                    </div>
                </div>
            </nav>
        </header>

        <main class="d-flex justify-content-center align-items-center" style="margin-top: 30px;">
            <div class="card text-center" style="height: auto; width: auto; margin-top: 50px;">
                <div class="card-header gradient-header">
                    Forgot Password
                </div>
                <div class="card-body">
                    <form action="/sendotp" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label" id="emailLabel">Email-id</label>
                             <input type="email" class="form-control" id="email" name="userName" onchange="ValidEmail()" required placeholder="Enter Email-id">
                            <span class="text-danger fst-italic" id="emailError"></span>
                        </div>
                        <button type="submit" class="btn btn-primary loginButton" id="sendotp" disabled>Send OTP</button>
                    </form>
                    
                    <form action="/validate_otp" method="post" {% if not otp_sent %}hidden{% endif %} onchange="ValidOTP()">
                        <input type="email" id="hiddenEmail" name="email" value="{{ email }}" hidden>
                        <div class="mb-3 mt-3">
                            <label for="otp" class="form-label" id="otpLabel">Enter OTP</label>
                            <input type="text" class="form-control" id="otp" name="otp" required placeholder="Enter OTP">
                            <span class="text-danger fst-italic" id="otpError"></span>
                        </div>
                        <button type="submit" class="btn btn-primary loginButton" id="verifyOTP" disabled>Verify OTP</button>
                    </form>
                    <form action="/reset_password" method="post" {% if not reset_password %}hidden{% endif %} onchange="ValidPassword()">
                        <input type="email" id="hiddenEmailReset" name="email" value="{{ email }}" hidden>
                        <div class="mb-3 mt-3">
                            <label for="newpassword" class="form-label" id="newPasswordLabel">Enter New Password</label>
                            <input type="password" class="form-control" id="newpassword" name="newpassword" required placeholder="Enter New Password">
                            <span class="text-danger fst-italic" id="newPasswordError"></span>
                        </div>
                        <div>
                            <label for="confirmpassword" class="form-label" id="confirmPasswordLabel">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirmpassword" required placeholder="Confirm New Password">
                            <span class="text-danger fst-italic" id="confirmPasswordError"></span>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary loginButton" id="resetPasswordButton" disabled>Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1055;">
        {% for category, message in messages %}
            <div class="toast show align-items-center border-0 animate__animated animate__bounceInDown" role="alert" aria-live="assertive" aria-atomic="true">
                {% if category == 'error' %}
                    <div class="toast-body text-bg-danger">
                        <i class="fas fa-exclamation-circle me-2"></i>
                        <strong>Error:</strong> {{ message }}
                    </div>
                {% elif category == 'success' %}
                    <div class="toast-body text-bg-success">
                        <i class="fas fa-check-circle me-2"></i>
                        <strong>Success:</strong> {{ message }}
                    </div>
                {% elif category == 'warning' %}
                    <div class="toast-body text-bg-warning">
                        <i class="fas fa-exclamation-triangle me-2"></i>
                        <strong>Warning:</strong> {{ message }}
                    </div>
                {% else %}
                    <div class="toast-body text-bg-info">
                        <i class="fas fa-info-circle me-2"></i>
                        <strong>Info:</strong> {{ message }}
                    </div>
                {% endif %}
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

        <footer>
            <div class="fixed-bottom text-center footer">
                <p class="text-center text-black mb-0">© 2025 Crime Reporting & Verification System. All rights reserved.</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <script>
    document.addEventListener("DOMContentLoaded", function() {
        var toastElements = document.querySelectorAll('.toast');
        toastElements.forEach(function (toastElement) {
            var toast = new bootstrap.Toast(toastElement, { delay: 5000 }); // Delay of 5 seconds
            toast.show();
        });
    });
</script>
<script>
    function ValidOTP() {
        var otpField = document.getElementById('otp').value.trim();
        var otpError = document.getElementById('otpError');
        var loginButton = document.getElementById('verifyOTP');

        if (otpField.length === 6) {
            otpError.textContent = '';
            loginButton.disabled = false;
        } 
        else if (otpField === '') {
            otpError.textContent = 'OTP is required.';
            loginButton.disabled = true;
        }
        else {
            otpError.textContent = 'Please enter a valid 6-digit OTP.';
            loginButton.disabled = true;
        }
    }
    
    function ValidPassword() {
        const newPasswordField = document.getElementById('newpassword').value.trim();
        const confirmPasswordField = document.getElementById('confirmpassword').value.trim();
        const newPasswordError = document.getElementById('newPasswordError');
        const confirmPasswordError = document.getElementById('confirmPasswordError');
        const resetPasswordButton = document.getElementById('resetPasswordButton');
        const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        let validNewPassword = passwordPattern.test(newPasswordField); // Use the regex test here
        let validConfirmPassword = confirmPasswordField === newPasswordField;
        if (validNewPassword) {
                    newPasswordError.textContent = '';
                } else {
                    newPasswordError.textContent = 'Password must be at least 8 characters long and include uppercase, lowercase, number, and special character.';
                }

                if (validConfirmPassword) {
                    confirmPasswordError.textContent = '';
                } else {
                    confirmPasswordError.textContent = 'Passwords do not match.';
                }
                

        console.log(validNewPassword);
        console.log(validConfirmPassword);

        resetPasswordButton.disabled = !(validNewPassword && validConfirmPassword);
    }

    function ValidEmail() {
        var emailField = document.getElementById('email').value.trim();
        var emailError = document.getElementById('emailError');
        var loginButton = document.getElementById('sendotp');
        var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        if (emailField.match(emailPattern)) {
            emailError.textContent = '';
            loginButton.disabled = false;
        } 
        else if (emailField === '') {
            emailError.textContent = 'Email address is required.';
            loginButton.disabled = true;
        }
        else {
            emailError.textContent = 'Please enter a valid email address.';
            loginButton.disabled = true;
        }
    }

</script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var toastElements = document.querySelectorAll('.toast');
        toastElements.forEach(function (toastElement) {
            var toast = new bootstrap.Toast(toastElement, { delay: 5000 }); // Delay of 5 seconds
            toast.show();
        });
    });
</script>

    </body>
</html>
